<div class="footer-copyright">
    <div class="container text-center text-muted">© Copyright 2019
        <a class="text-lighten-4" href="https://github.com/vinalvin
        " target="_blank">GitHub</a>
    </div>
</div>