h4 {
    font-family: 'Bungee Inline', cursive;
}

body {
    /* background-image: url("/assets/images/hightech-background.jpg"); */
   
}

/* .table-wrapper {
    margin-top: 50px;
}

.article-img {
    width: 40px;
    height: 40px
}

.add-article-form {
    margin-top: 50px;
} */

